# Database
DATABASE_URL="file:./dev.db"

# The WebSocket service URL (for the laser bridge)
WS_SERVICE_URL="http://localhost:3003"

# Website URL (used by Discord bot for links)
WEBSITE_URL="http://localhost:3000"
